:root{
    --primaryColor:#00b7ff;
    --secondaryColor:#6c757d;
}

button{
    color: white;
    border: none;
    padding: 5px 25px;
}

#primaryBtn{
    background-color: var(--primaryColor);
}
#secondaryBtn{
    background-color: var(--secondaryColor);
}